 body { 
    background-image: url('https://i1.wp.com/static.web-backgrounds.net/uploads/2012/08/Abstract_Blue_Background_with_Wavy_Lines.jpg');
    background-repeat: no-repeat;
    background-size: 100%;    
    margin:50px 50px 50px 200px;
    font-family: Arial, Helvetica, sans-serif;
} 

#main{
    background-color:whitesmoke;
    margin-left: 50px;
    position: relative;
}
#display{
    margin-top: 40px;
    margin-left: 4px;
}
header{
    background-color: white;
    height: 50px;
    padding-top: 20px;
    padding-left:20px;
    padding-right: 20px;
}
header img{
    width:40px;
    height:40px;
    border-radius: 25px;
    
}
.sidenav {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;    
    left: 0;
    background-color:white;
    overflow-x: hidden;
    padding-top: 10px;
    margin-left: 50px;
  }
  
  .sidenav a {
    padding: 6px 6px 25px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {    color: blue; }
  .notification {
    background-color: whitesmoke;
    color: green;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float:right;
    background-image: url('https://cdn4.iconfinder.com/data/icons/web-app-media-contact-and-essential-simple-fill/512/Alarm_Notification-512.png');
    background-position: 6px 6px; 
    background-repeat: no-repeat;    
    background-size: 25px 25px;
  }
  
  
  .notification .dot {
    position: absolute;
    top:0px;
    right: 0px;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: red;
    
  }

 .box {   
    padding: 8px 0px 8px 0px;
    margin: 4px;
    text-align: center;
    display: inline-block;
    transition: transform .2s;
    background-color: white;
    
  }
  .box .name{
    font-size: 18px;
  }
  .box:hover{

    transform: scale(1.2); 
    box-shadow: 0 4px 8px 0 rgba(32, 12, 95, 0.2), 0 6px 20px 0 rgba(20, 28, 141, 0.19);  
  }  
.contact{
    margin:5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin:5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    z-index: 1;
  }
    .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 32px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
   .dropdown-content a:hover {background-color: #f1f1f1}
   .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .button2 {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px 32px;
    background-color: white;
    background-image: url('https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-16.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;    
    background-size: 15px 15px;
  }
  img{
      width: 90px;
      height: 50px;
      margin: 0px 20px 40px 50px;
  }
  .box img {
    width:70px;
    height:70px;
    border-radius: 45px;
    margin:10px;
  }
  .box .contact img {
      width:30px;
      height:30px;
      border-radius: 25px;
      margin: 5px;
    }
    
    .button{
        margin:8px;
    }
    .buttonhover{        
    display: inline-block;
        background-color: white;
        border: 1px solid grey;
        color: grey;
        padding: 10px 22px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px;
        cursor: pointer;        
      border-radius: 3px;   }

    .buttonhover:hover 
    {   border-color: blue;
        color:blue;     }